<!DOCTYPE html>
<html>
<head>
  <title>Shopping List 2</title>
  <style>
    /* CSS styling remains unchanged */
  </style>
</head>
<body>

<h1>BIODATA FORM</h1>
<p>Tech Muda II - PLAN INDONESIA</p>
<div id="app">
  <form v-on:submit.prevent="addItem">
    <p>
      Name? <br>
      <input type="text" required placeholder="name" v-model="itemName">
    </p>
    <p>
      Address? <br>
      <input type="text" required placeholder="address" v-model="itemAddress">
    </p>
    <p>
      Jenis Kelamin? <br>
      <input type="radio" id="Laki-laki" name="jk" value="Laki-laki" v-model="itemGender">
      <label for="Laki-laki">Laki-laki</label>
      <input type="radio" id="Perempuan" name="jk" value="Perempuan" v-model="itemGender">
      <label for="Perempuan">Perempuan</label>
    </p>
    <button type="submit">Add item</button>
  </form>
  <br>
  <hr>

  <div>
    <p><strong>Output:</strong></p>
    <ul>
      <li v-for="item in shoppingList" v-bind:class="{ impClass: item.important }">
        {{ item.name }}, {{ item.address }}, {{ item.gender }}
      </li>
    </ul>
  </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
  const app = Vue.createApp({
    data() {
      return {
        itemName: null,
        itemAddress: null,
        itemGender: null,
        shoppingList: []
      }
    },
    methods: {
      addItem() {
        if (this.itemName && this.itemAddress && this.itemGender) {
          let item = {
            name: this.itemName,
            address: this.itemAddress,
            gender: this.itemGender,
            important: false
          };
          this.shoppingList.push(item);
          this.itemName = null;
          this.itemAddress = null;
          this.itemGender = null;
        } else {
          alert("Please fill in all fields!");
        }
      }
    }
  })
 app.mount('#app')
</script>

</body>
</html>